@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

main {
  min-height: 80vh;
}

body {
  font-family: 'Roboto Flex', sans-serif !important;
}

.product-title {
  height: 1.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.centered{
  display: flex;
  justify-content: center;
}

.hovered{
  transform: scale(1.05);
  transition: 200ms ease-in ;
}

.modal-lb{
  display: flex;
  flex-direction: row;
}

.icon-edit{
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.text-green{
  color: #4caf50 !important;
}